{% extends 'flatpages/default.html' %}
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

{% block title %}
anns
{% endblock title %}

{% block content %}

   <h1 class="h1_anns">Все объявления <i>({{ anns|length }})</i> </h1>

    <hr>
   {% if anns %}
       <table class="table_anns"> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   <b>Название</b>
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   <b>Дата</b>
               </td>
               <td>
                   <b>Категория</b>
               </td>
               <td>
                   <b>Предпросмотр</b>
               </td>
               <td>
                   <b>Автор</b>
               </td>

                {% for ann in anns %}
                <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->

                <td><a href="{% url 'ann_detail' pk=ann.pk %}">{{ ann.title }}</a></td>
                <td>{{ ann.time_in|date:'d M Y' }}</td>
                <td>{{ ann.category }}</a></td>
                <td>{{ ann.preview }}</td>
                <td>{{ ann.author }}</td>
                {% endfor %}
                </tr> <!-- Не забываем закрыть HTML-тег строки -->
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если объявлений нет, говорим, что объявлений нет ;) -->
       <h2>Объявлений нет!</h2>
   {% endif %}
{% if user.is_authenticated %}
<form method="LINK" action="/anns/create">
    <input class="input_button" type="submit" type="submit" value="Добавить объявление">
</form>
{% endif %}
{% endblock content %}