{% extends 'flatpages/default.html' %}
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

{% block content %}
<h1>Объявление</h1>
<hr>
<div id="teams_form">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <input class="input_button" type="submit" value="Save" />
    </form>
    <form method="LINK" action="/anns/">
    <input class="input_button"  type="submit" value="Назад">
</form>
</div>
{% endblock content %}