{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>


{% block title %}
user
{% endblock title %}


{% block content %}
<div id="profile">
    <table>
        <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   <b>Данные пользователя:</b>
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   {{ user }}
               </td>
        </tr>
        <tr>
               <td> <!-- Добавляем ячейку в строку -->
                   <b>Имя:</b>
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   {{ user.first_name }}
               </td>
        </tr>
        <tr>
               <td> <!-- Добавляем ячейку в строку -->
                   <b>Фамилия:</b>
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   {{ user.last_name }}
               </td>
        </tr>
        <tr>
               <td> <!-- Добавляем ячейку в строку -->
                   <b>Почта:</b>
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   {{ user.email }}
               </td>
        </tr>
        <tr>
               <td> <!-- Добавляем ячейку в строку -->
                   <b>Дата регистрации:</b>
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   {{ user.date_joined }}
               </td>
        </tr>
        <tr>
                <td> <!-- Добавляем ячейку в строку -->
                   <b>Последний визит:</b>
               </td>
               <td> <!-- Добавляем ячейку в строку -->
                   {{ user.last_login }}
               </td>
        </tr>
    </table>
</div>
<hr>
    <h3> Мои объявления: </h3>
    {% if anns %}
        <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   <b>Название</b>
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   <b>Дата</b>
               </td>
               <td>
                   <b>Категория</b>
               </td>
               <td>
                   <b>Предпросмотр</b>
               </td>

                {% for ann in anns %}
                <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->

                <td><a href="{% url 'ann_detail' pk=ann.pk %}">{{ ann.title }}</a></td>
                <td>{{ ann.time_in|date:'d M Y' }}</td>
                <td>{{ ann.category }}</td>
                <td>{{ ann.preview }}</td>
                {% endfor %}
                </tr> <!-- Не забываем закрыть HTML-тег строки -->
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если объявлений нет, говорим, что объявлений нет ;) -->
       <h2>Объявлений нет!</h2>
   {% endif %}

{% endblock content %}