<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MMORPG</title>
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div>
                <img src="{% static '../media/image/logo.jpg' %}" alt="logo" width="160" height="80">
            </div>
            <div>
                <h4>Доска объявлений MMORPG</h4>
            </div>

                {% if user.is_authenticated %}
                <div>
                <h3>Текущий пользователь:  {{ user.username }}</h3>
                </div>
                <div>
                    <form>
                        <input type="button" value="Выйти" onClick='location.href="/accounts/logout/"'>
                    </form>
                </div>
                {% else %}
                <div>
                <form>
                    <input type="button" value="Войти" onClick='location.href="/accounts/login/"'>
                </form>
                </div>
                {% endif %}

        </div>
        <!-- Page content-->
        <div class="container">

                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}

        </div>
    </body>
</html>